<div class="conteneurCentral">
  <div class="box size6 color2"></div>

  <div class="box size6 color3"></div>

  <div class="box size3 color5"></div>

  <div class="box size6 color1"></div>



  <div class="box size3 color3"></div>

  <div class="box size4 color4"></div>

  <div class="box size6 color2"></div>

  <div class="box size6 color3"></div>

  <div class="box size4 color3"></div>

  <div class="box size1 color1"></div>
  <div class="box size2 color2"></div>

</div>
